* {
    background-color: #DCDCDC;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.body
{
    font-family: 'Nunito Sans', sans-serif;
}
.nav_button {
    border: none;
    background-color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}
.Page_divider{
    display: inline-block;
    justify-content: space-between;
}
.Dashboard_container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin : 10px ;
}


.Video_lable{
    background-color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
#Control_buttons{
    background-color: white;
    text-align: center;
    padding: 10px;
}
.Control_buttons{
    background-color: white;
    text-align: center;
    transition-duration: 0.6s;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    width : 60px ;
    height:60px ; 
    margin-inline: 40px;
}
#start_button {
    background-color: white ;
    font-size: 20px;
    border-color: green ;
    border-width: 1px;

}
#start_button:hover {
    background-color: #4CAF50;
    color: white;
}
#stop_button{
    background-color: white ;
    font-size: 20px;
    border-color: darkgoldenrod ;
    border-width: 1px;
}
#stop_button:hover {
    background-color: gold;
    color: white;
}

#reset_button {
    background-color: white ;
    font-size: 20px;
    border-color: red ;
    border-width: 1px;

}
#reset_button:hover {
    background-color: #DC143C;
    color: white;
}
#navbar {
    background-color: white; 
    display: flex;
    justify-content: space-between;
}
#logo{
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
}
#logo_img{ 
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#name , #about_us {
    background-color: white;
}
#name{
    background-color: white ;
    padding: 9px ;
    font-size: 40px;
}
#about_us_button {
    border: none ;
    background-color: white;
    font-size: 20px;
    padding: 20px;

}
  
#about_us_button:hover {
    background-color: #4CAF50;
    color: white;
}
#Info_container{
    background-color: #DCDCDC; 
    padding: -20px ;
    margin: -10px ;
}
.Info{
    display: inline-block ;
    background-color: #fcb6d4;
    padding: 20px ;
    border-radius: 10px;
}
#Time_taken{
    background-color: lightskyblue;
}
#Time_taken_label{
    background-color: lightskyblue;
}
.info_label{
    font-size: 20px ;
    color: white;

}

/* #display-content {
    width: 100%;
    height: 500px;
    justify-content: space-between;
    padding: 20px 20px;
}

#video-container{
    justify-content: space-around;
    background-color: white ;
    padding: 20px;
    border-radius: 15px;
}

#count-container {
    height: 50%;
    justify-content: space-around;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 30px;
}

.number-box {
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px grey;
    text-align: center;
}

#control-panel {
    width: 100%;
    height: 20px;
    justify-content: space-evenly;
    padding: 20px 20px;
}

#pid-control {
    width: 70%;
    height: 100%;
    justify-content: space-around;
}

.pid-container {
    height: 25%;
    width: 100%;
    justify-content: space-around;
}

.slide-container {
    width: 50%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.pid-input {
    border-radius: 5px;
    text-align: center;
}

#main-control {
    width: 25%;
    justify-content: space-around;
}

#main-control button {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    color: white;
}

#start-btn {
    background-color: green;
}

#stop-btn {
    background-color: red;
}

#reset-btn {
    background-color: gold  ;
}

.graph_img{
    width: 100%;
    height: 100%;
    padding: 20px;
}
.graph_container{
    height: 100%;
    width: 30%;
}
.graph{
    width: 80%;
    height: 50%;
} */