* {
    background-color: #E8E8E8;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* .body
{
    font-family: 'Nunito Sans', sans-serif;
} */
.nav_button {
    border: none;
    background-color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}
main{
    display: grid;
    grid-gap: 10px;
    padding: 10px;
}
.Dashboard_container{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin : 10px ;
}
#video_container{
    background-color: white;
    padding: 15px;
}
#video_section{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 4;
} 
#Information_and_contol_section {
    grid-column-start: 3;
    grid-column-end: 20;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
}
#Data_visualisation_section{
    grid-column-start: 3;
    grid-column-end: 20;
    grid-row-start: 2;
    grid-row-end: 4;
}

.Video_lable{
    background-color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
#Control_buttons{
    background-color: white;
    text-align: center;
    padding: 10px;
}
.Control_buttons{
    background-color: white;
    text-align: center;
    transition-duration: 0.6s;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    width : 60px ;
    height:60px ; 
    margin-inline: 30px;
}
#start_button {
    background-color: white ;
    font-size: 20px;
    border-color: green ;
    border-width: 1px;

}
#start_button:hover {
    background-color: #4CAF50;
    color: white;
}
#stop_button{
    background-color: white ;
    font-size: 20px;
    border-color: darkgoldenrod ;
    border-width: 1px;
}
#stop_button:hover {
    background-color: gold;
    color: white;
}

#reset_button {
    background-color: white ;
    font-size: 20px;
    border-color: red ;
    border-width: 1px;

}
#reset_button:hover {
    background-color: #DC143C;
    color: white;
}
#navbar {
    background-color: white; 
    display: flex;
    justify-content: space-between;
}
#logo{
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
}
#logo_img{ 
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#name , #about_us {
    background-color: white;
}
#name{
    background-color: white ;
    padding: 9px ;
    font-size: 40px;
}
#about_us_button {
    border: none ;
    background-color: white;
    font-size: 20px;
    padding: 20px;

}
  
#about_us_button:hover {
    background-color: #4CAF50;
    color: white;
}
#Info_container{
    grid-column: 2;
    grid-row: 1;
    background-color: white; 
    text-align: center;
    display: grid ;
    grid-gap: 15px;
    padding: 25px;

}
.Info{
    text-align: center;
    padding: 20px ;
    border-radius: 10px;
}
#Time_taken{
    background-color: rgb(85, 190, 255);
    grid-column: 1;
    grid-row: 1;
}
#Time_taken_label{
    background-color:rgb(85, 190, 255);
}
#Time_Left{
    background-color: rgb(255, 76, 52);
    grid-column: 2;
    grid-row: 1;
}
#Time_Left_label{
    background-color: rgb(255, 76, 52);
}
#Package_sorted{
    background-color: rgb(2, 216, 2) ;
    grid-column: 1;
    grid-row: 2;
}
#Package_sorted_label{
    background-color: rgb(2, 216, 2) ;
}
#Package_Left{
    background-color: rgb(255, 166, 0) ;
    grid-column: 2;
    grid-row: 2;
}
#Package_Left_label{
    background-color: rgb(255, 166, 0) ;
}
.info_label{
    font-size: 20px ;
    color: white;

}
#PID_container{
    grid-column: 1;
    grid-row: 1;
    background-color: white;
    padding: 25px;
    display: grid;
    grid-gap: 15px;
}
#PID_container_label{
    font-size: 30px;
    text-align: center;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 3;
}

.info_label:hover {
    padding:12px;
    font-size: 22px ;
    transition-duration: 0.6s;
}

.PID{
    display: grid ;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(9, 191, 247) ;
    border-radius: 10px;
}
.Info_value{
    background-color: rgb(9, 191, 247) ;
}
.slide-container{
    background-color: rgb(9, 191, 247) ; 
}
.PID_label{
    background-color: rgb(9, 191, 247) ;
    color : white ; 
    font-size: 20px;
    margin-bottom: 10px;
}
#Propotional {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#Integral{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
#Filter_coefficient {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#Derivative{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}


#Graphs_container{ 
    display: grid; 
    background-color: white;
    padding: 25px;
}
.Graph{
    margin: 10px;
}
#Angle_time{
    
    grid-column: 1;
}
#idk_time{
    grid-column: 2;
}

#Garph_lable{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 30px;
    text-align: center;
    background-color: white;
    margin-bottom: 10px;
}

/* #display-content {
    width: 100%;
    height: 500px;
    justify-content: space-between;
    padding: 20px 20px;
}

#video-container{
    justify-content: space-around;
    background-color: white ;
    padding: 20px;
    border-radius: 15px;
}

#count-container {
    height: 50%;
    justify-content: space-around;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 30px;
}

.number-box {
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px grey;
    text-align: center;
}

#control-panel {
    width: 100%;
    height: 20px;
    justify-content: space-evenly;
    padding: 20px 20px;
}

#pid-control {
    width: 70%;
    height: 100%;
    justify-content: space-around;
}

.pid-container {
    height: 25%;
    width: 100%;
    justify-content: space-around;
}
 */

/* .slider {
    -webkit-appearance: none ;
    height: 8px;
    border-radius: 10px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(255, 0, 170);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}  */
/* 

.pid-input {
    border-radius: 5px;
    text-align: center;
}

#main-control {
    width: 25%;
    justify-content: space-around;
}

#main-control button {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    color: white;
}

#start-btn {
    background-color: green;
}

#stop-btn {
    background-color: red;
}

#reset-btn {
    background-color: gold  ;
}

.graph_img{
    width: 100%;
    height: 100%;
    padding: 20px;
}
.graph_container{
    height: 100%;
    width: 30%;
}
.graph{
    width: 80%;
    height: 50%;
} */