<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_image/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@600&display=swap" rel="stylesheet"> -->
    <title>Team Placeholders</title>


</head>

<body>
    <nav id="navbar">

        <div id="logo">
            <img src="{{ url_for('static', filename='css_image/images/logo.jpeg')}}" id=logo_img>
        </div>

        <div id="name">
           Team Placeholders Dashboard
        </div>

        <div id = "about_us">
            <button class="nav_button" id = "about_us_button" >About Us</button>
        </div>

    </nav>
<!--     
    <main id="main-content" class="flex-column">
        <div id="display-content" class="flex-row">
            <div class="graph_container flex-column">
                <div class="graph">
                    <canvas id = "angle_time_graph"></canvas>
                </div>
                <div id="pid-control" class="flex-column">
                    <div id="p-container" class="flex-row pid-container">
                        <div class="slide-container">
                            <input type="range" min="1" max="100" class="slider" id="p-slider">
                        </div>
                        <input type="number" name="p-input" id="p-input" class="pid-input" min="1" max="100">
                    </div>
                    <div id="i-container" class="flex-row pid-container">
                        <div class="slide-container">
                            <input type="range" min="1" max="100" class="slider" id="i-slider">
                        </div>
                        <input type="number" name="i-input" id="i-input" class="pid-input" min="1" max="100">
                    </div>
                </div>
                <div id="count-container" class="flex-row">
                    <div id="total-count" class="flex-column">
                        Total Count
                        <div id="count-box" class="number-box">110</div>
                    </div>
                </div>
            </div>
            <div id="video-container"class="flex-column">
                <iframe width="500" height="467" src="https://www.youtube.com/embed/ZYzbalQ6Lg8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="graph_container flex-column">
                <div class="graph">
                    <img src="/frontend/images/IMG_Econ_01_011.png" alt="" class="graph_img">
                </div>
                <div id="pid-control" class="flex-column">
                    <div id="d-container" class="flex-row pid-container">
                        <div class="slide-container">
                            <input type="range" min="1" max="100" class="slider" id="d-slider">
                        </div>
                        <input type="number" name="d-input" id="d-input" class="pid-input" min="1" max="100">
                    </div>
                    <div id="d-container" class="flex-row pid-container">
                        <div class="slide-container">
                            <input type="range" min="1" max="100" class="slider" id="d-slider">
                        </div>
                        <input type="number" name="d-input" id="d-input" class="pid-input" min="1" max="100">
                    </div>
                </div>
                <div id="count-container" class="flex-column">
                    <div id="total-time" class="flex-row">
                        Total Time
                        <div id="time-box" class="number-box">220</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="control-panel" class="flex-row">
            <div id="main-control" class="flex-row">
                <button id="start-btn">Start</button>
                <button id="stop-btn">Stop</button>
                <button id="reset-btn">Reset</button>
            </div>
        </div>
    </main> -->
    <main class="main_dashboard">
        <div class = "Page_divider" Id= "video_section"  >
            <div class ="Dashboard_container" id ="video_container">
                <div class="Video_lable">
                    Processed Video 
                </div>
                <img width="500" height="467" src="{{ url_for('video_feed') }}" >
                <div  id = "Control_buttons"> 
                    <button class = Control_buttons id="start_button"></button>
                    <button class = Control_buttons id="stop_button"></button>
                    <button class = Control_buttons id="reset_button"></button>
                </div>
            </div>
            <!-- <div class ="Dashboard_container" id = "Control_buttons"> 
                <button id="start_button">Start</button>
                <button id="stop_button">Stop</button>
                <button id="reset_button">Reset</button>
            </div> -->
        </div>
        <div class = "Page_divider" Id= "Information_and_contol_section">
            <div class ="Dashboard_container" id ="Info_container">
                <div class="Info" id ="Time_taken">
                    <div class="info_label" id = "Time_taken_label">
                        Time Taken  
                    </div>
                    <div class = "Info_value">

                    </div>
                </div>
                <div class="Info" id ="Time_Left">
                    <div class="info_label" id = "Time_Left_label" >
                        Time Left   
                    </div>
                    <div class = "Info_value">

                    </div>
                </div>
                <div class="Info" id ="Package_sorted" >
                    <div class="info_label" id = "Package_sorted_label">
                        Package Sorted  
                    </div>
                    <div class = "Info_value">

                    </div>

                </div>
                <div class="Info" id ="Package_Left">
                    <div class="info_label" id = "Package_Left_label">
                        Package Left
                    </div>
                    <div class = "Info_value">

                    </div>

                </div>
            </div>
            <div class ="Dashboard_container" id ="PID_container">
                <div id = "PID_container_label" >
                    PID Control
                </div>
                <div class="PID" id ="Propotional">
                    <div class="PID_label">
                        Propotional
                    </div>
                    <div class = "Info_value">
                        <div class="slide-container">
                            <input type="range" min="0" max="2000" class="slider" id="d-slider">
                            <input type="number" name="d-input" id="d-input" class="pid-input" min="1" max="100">
                        </div>
                    </div>

                </div>
                <div class="PID" id ="Integral">
                    <div class="PID_label">
                        Integral
                    </div>
                    <div class = "Info_value">
                        <div class="slide-container">
                            <input type="range" min="0" max="2000" class="slider" id="d-slider">
                            <input type="number" name="d-input" id="d-input" class="pid-input" min="1" max="100">
                        </div>
                    </div>
                </div>
                <div class="PID" id ="Derivative">
                    <div class="PID_label">
                        Derivative
                    </div>
                    <div class = "Info_value">
                        <div class="slide-container">
                            <input type="range" min="0" max="2000" class="slider" id="d-slider">
                            <input type="number" name="d-input" id="d-input" class="pid-input" min="1" max="100">
                        </div>
                    </div>

                </div>
                <div class="PID" id ="Filter_coefficient">
                    <div class="PID_label">
                        Filter Coefficient
                    </div>
                    <div class = "Info_value">
                        <div class="slide-container">
                            <input type="range" min="0" max="2000" class="slider" id="d-slider">
                            <input type="number" name="d-input" id="d-input" class="pid-input" min="1" max="100">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class = "Page_divider" Id= "Data_visualisation_section">
            <div class ="Dashboard_container" id ="Graphs_container">
                <div id= "Garph_lable"> 
                    Graphs
                </div>

                <div class="Graph" id ="Angle_time">
                    <canvas id = "angle_time_graph"width="300" height="150"></canvas>

                </div>
                <div class="Graph" id ="idk_time">
                    <canvas id = "idk_time_graph"width="300" height="150"></canvas>
                </div>

            </div>
        </div>


    </main>
    <script src="{{ url_for('static', filename='css_image/app.js')}}"></script>
</body>

</html>